

 #ex {
    width: 100%;
    min-height:100vh;
    height: max-content;
    text-align: center;
    background-image:
url("https://wallpapercave.com/wp/wp1828902.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 0%;
}


body{
    margin: 0;
    padding: 0;
    background: #070c0e;
  }
  .middle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .btn{
    position: relative;
    display: block;
    color: white;
    font-size: 14px;
    font-family: "montserrat";
    text-decoration: none;
    margin: 30px 0;
    border: 2px solid #ff7675;
    padding: 5px 5px;
    text-transform: uppercase;
    overflow: hidden;
    transition: 1s all ease;
  }
  .btn::before{
    background: #8aff75;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
    transition: all 0.6s ease;
  }
  
  .btn1::before{
    width: 0%;
    height: 100%;
  }
  
  .btn1:hover::before{
    width: 100%;
  }
  
  
  .btn2::before{
    width: 100%;
    height: 0%;
  }
  .btn2:hover::before{
    height: 100%;
  }
  
  .btn3::before{
    width: 100%;
    height: 0%;
    transform: translate(-50%,-50%) rotate(45deg);
  }
  .btn3:hover::before{
    height: 380%;
  }
  
  .btn4::before{
    width: 100%;
    height: 0%;
    transform: translate(-50%,-50%) rotate(-45deg);
  }
  .btn4:hover::before{
    height: 380%;
  }
  